*{
    margin: 0px;
    padding: 0px;
}

.body1{
    background-image: url(images/desktop-wallpaper-kerala-tourism.jpg);
    background-size: cover;
    background-position: fixed;
}

img {
    margin-left: 100px;
}


.nav-item>a:hover {
background-color: aqua;
color: black;
}

.navbar-brand {
    margin-left: 11px;
}
@import url(https://fonts.googleapis.com/css?family=Roboto:300);
    

.text {
    list-style: square;
}


.body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}

#sticky-footer {
    margin-top: 200px;
    height: 45px;
    }
    .container {
        margin-top: 190px;
        }

        .containerfluid {
            text-align: center;
            margin-bottom: 20px;
            justify-content: center;
          }
        
        